.my-border {
  padding: 20px;
  border: .01em solid var(--border-color);    /* Example border color (Dim Gray) */
  border-radius: 30px;
  background-color: var(--background-color);   /* Optional background color */
  text-align: center;           /* Center text inside */
}

/* Font style options */
.inter-reg {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}
/* End of Font style options */

@media (max-width: 450px) {
  #root {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
}

