.my-border {
  padding: 20px;
  border: .01em solid var(--border-color);    /* Example border color (Dim Gray) */
  border-radius: 30px;
  background-color: var(--background-color);   /* Optional background color */
  text-align: center;           /* Center text inside */
}

/* Create space between sections */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Font style options */
.inter-reg {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bolder {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

.inter-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 45px;
}
/* End of Font style options */

@media (max-width: 450px) {
  #root {
    margin: 0px;
    padding: 0px;
    width: -webkit-fill-available;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

