.my-border {
  padding: 20px;
  border: .01em solid var(--border-color);    /* Example border color (Dim Gray) */
  border-radius: 30px;
  background-color: var(--background-color);   /* Optional background color */
  text-align: center;           /* Center text inside */
}

#about {
  padding-top: 100px;
} #about h1 {
  text-align: center;
  margin-bottom: 40px;
}

#about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top:20px;
}

.education-container {
  width: 100%;
}

.education {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.interests-container {
  width: 100%;
}

.interests {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.edu-and-interests {
  display: flex;
  flex-direction: column; /* Ensure that the containers stack vertically */
  gap: 25px;
  width: 35%;
}

.education-desc p {
  font-size: larger;
  margin-bottom: 0px;
}

.interests-desc p {
  font-size: larger;
  margin-bottom: 0px;
}

.about-me {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  font-size: large;
}

.grand-canyon {
  width: 30%;
}

.gc-pic {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.mortarboard-logo {
  height: 30px;
  width:30px;
}

.magnifying-logo {
  height:25px;
  width: auto;
}

/* Canvas container */
.canvas-parent {
  text-align: center;
  margin-top: 30px;
}

.canvas-inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding: 20px;
}

.class-info {
  display: flex;
  flex-direction: column; /* Aligns child elements vertically */
  align-items: flex-start; /* Aligns all child elements to the left */
  gap: 20px;
}

.class-info h3{
  margin-bottom: 0px;
}

.canvas-inside-container ul {
  display: block; /* Fits the width to content */
  padding: 0;
  margin: 0;
  list-style-position: inside; /* Aligns bullets inside the padding area */
  list-style-type: circle; /* Ensures bullets are shown */
  text-align: left; /* Aligns text to the left */
  white-space: nowrap; /* Prevents wrapping */
}

.canvas-inside-container li {
  /*display: inline; /* Keeps items in a row */
  margin-bottom: 10px; /* Space between items */
  font-size: large;
}

.canvas {
  margin: auto;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.canvas-border {
  border-radius: 20px;
  box-shadow: 0px 7px 12px 1px #d4d4d4;
}

.red-text {
  color: red;
}

.bascom-pic {
  border-radius: 50%;
  height: 200px;
  width: auto;
}
/* End canvas container */

@media (max-width: 1450px) {
  #about-container {
    flex-direction: column;
    gap: 25px;
  }

  .edu-and-interests {
    width: 60%;
  }

  .grand-canyon {
    width: 60%;
  }

  .gc-pic {
    width: 100%;
    height: auto;
  }

  .about-me {
    width: 60%;
  }
}

@media (max-width: 450px) {

  .edu-and-interests {
    width: 95%;
  }

  .about-me {
    width: 95%;
    text-align: center;
  }

  .grand-canyon {
    width: 95%;
  }

  .canvas-parent {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .canvas {
    padding: 0;
    display: block;
  }

  .canvas p {
    padding-bottom: 5px;
  }

  .bascom-pic {
    display: none;
  }

  .canvas-inside-container {
    text-align: center;
  }
  
  .canvas-inside-container li {
    font-size: small;
  }

  .canvas-inside-container ul {
    list-style: none;
  }

  .class-info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}