.my-border {
  padding: 20px;
  border: .01em solid var(--border-color);    /* Example border color (Dim Gray) */
  border-radius: 30px;
  background-color: var(--background-color);   /* Optional background color */
  text-align: center;           /* Center text inside */
}

#about {
  padding-top: 100px;
} #about h2 {
  text-align: center;
  margin-bottom: 40px;
}

#about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top:20px;
}

.education-container {
  width: 100%;
}

.education {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.interests-container {
  width: 100%;
}

.interests {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.edu-and-interests {
  display: flex;
  flex-direction: column; /* Ensure that the containers stack vertically */
  gap: 25px;
  width: 35%;
}

.education-desc p {
  font-size: larger;
  margin-bottom: 0px;
}

.interests-desc p {
  font-size: larger;
  margin-bottom: 0px;
}

.about-me {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  font-size: large;
}

.grand-canyon {
  width: 30%;
}

.gc-pic {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.mortarboard-logo {
  height: 30px;
  width:30px;
}

.magnifying-logo {
  height:25px;
  width: auto;
}