#contact {
    text-align: center;
}

#contact h1 {
  margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-logo {
    width: 30px;
    height: auto;
}

/* Resume button */
.contact-button {
    background-color: #efefef;
    border: 1px solid white;
    color: #3b3b3b;
    padding: 18px 30px;
    margin: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 35px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Adjusted transition duration */
  }

  /* Change button style on hover */
.contact-button:hover {
    /*background-color: white; /* Darker green */
    border: 1px solid #3b3b3b;
}

  .contact-button p {
    display: inline;
    padding-left: 10px;
    font-size: large;
  }

.navbar-bottom {
    position: absolute;
    bottom: 0; /* Adjust for the desired spacing */
    left: 0;
    width: 100%;
}

  /* Links at bottom */
  #page-links {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px; /* Add padding at the bottom to raise links from the edge */
}

  .custom-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

@media (max-width: 450px) {
  .contact-container {
    flex-direction: column;
  }

  .custom-links {
    gap: 20px;
  }

  /* Ensure padding is responsive too */
  #page-links {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
}