:root {
    --border-color: #808080; /* Define custom property */
    --background-color: white;
}
#navbar {
  height: auto; /* Set the height of the navbar to auto */
}

#intro-container {
  height: calc(100vh - var(--navbar-height)); /* Subtract the dynamic height of the navbar */
}

:root {
  --navbar-height: 60px; /* Default value for the navbar height */
}

@media (max-width: 1150px) {
  :root {
    /*--navbar-height: auto; /* Adjust the navbar height for smaller screens */
  }
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Flexbox container for horizontal layout */
#intro-container {
  /*height: calc(100vh - 240px); /* Full viewport height */
  display: flex;
  gap: 5%;
  justify-content: center; /* Distributes space between the items */
  align-items: center;           /* Centers items vertically */
  }
  
  /* Left content styling */
  .left-content {
    width: 30%;                    /* Takes up half the width of the parent container */
    text-align: center;           /* Center text inside */
  }
  
/* About div styling */
.intro {
  width: 30%;                    /* Takes up the other half of the width of the parent container */
  text-align:center;
} .intro p {
  margin: 12px 0px;
  font-size: large;
} .intro h1 {
  padding: 0px;
  margin: 0px;
  font-size: 50px;
}

.mathom-headshot {
    width: 400px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height to match the width for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Logos */
.logo {
  height: 40px;
  width: 40px;
  margin: 10px;
}

/* Resume button */
.resume-button {
  background-color: white;
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Adjusted transition duration */
}

/* Change button style on hover */
.resume-button:hover {
  background-color: #3b3b3b; /* Darker green */
  color: #fff; /* White */
}

#intro {
  text-align: center;
}

@media (max-width: 1450px) {
  /* adjusting size of right content */
  .intro {
    width: 30%; 
  } .intro p {
    font-size: medium;
  } .intro h1 {
    font-size: 40px;
  }

  .left-content {
    width: 30%;
  }

  .mathom-headshot {
    width: 325px;
    height: 325px;
  }

  #intro-container {
    gap: 80px;
  }
}

@media (max-width: 1150px) {
  #intro-container {
    gap: 6%;
    flex-direction: column;
  }
  .mathom-headshot {
    width: 280px; /* 10% smaller than 325px */
    height: 280px;
  }

  .intro {
    width: 60%;
  }

  .left-content {
    width: 60%;
  }
}

@media (max-width: 450px) {
  #intro {
    /* margin-top: 20px; */
    padding: 0px 5px;
  }

  #intro-container {
    flex-direction: column;
    gap: 10%;
  }

  .mathom-headshot {
    width: 230px;
    height: 230px;
  }

  .left-content {
    width: 100%;
    padding: 0px;
  }

  .intro {
    width: 100%; 
    height: 40%;
    text-align:center;
  } .intro h1 {
    font-size: 45px;
  }
}