#projects {
    text-align: center;
}

#projects h1 {
    margin-bottom: 10px;
}

#projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c {
    width: 60%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 50px;
}

.c-inner {
    display: flex;
    align-items: center;
    height: auto;
}

.c-indicators {
    height: 0px;
    /* border: 1px solid black; */
}


.c-item {
    height: auto;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-div {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-div ul {
    list-style: circle;
    margin-bottom: 10px;
}

.c-div p {
    margin-top: 10px;
    margin-bottom: 15px;
}

.c-div li {
    padding: 4px 5px;
    text-align: left;
}

.c-img {
    width: 140px;
    height: auto;
}

.button-container button{
    margin: 0px 10px;
}

.vid-container {
    width: 280px;
    height: 160px;
    margin: auto;
}

.skills-p {
    margin-top: 0px;
}

.wordle-img {
    width: 300px;
    height: auto;
}

@media (max-width: 1500px) {
    .c {
        width: 70%;
    }
}

@media (max-width: 1250px) {
    .c {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .c {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .c-div {
        width: 95%;
        padding: 15px 5px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none !important;
    }

    .c-inner {
        height: 610px;
    }

    .c-item {
        height: 90%;
    }
}