.container-fluid {
    background-color: white;
}

nav {
    background-color: white;
    margin-bottom:60px;
}

.navbar-nav {
    margin-top: 20px;
    margin-right: 10%;
}

.nav-link {
    font-size: larger !important;
}

.navbar-brand {
    margin-top: 10px;
    margin-left: 10%;
    font-size: 30px !important;
}
